#add-event-button {
	background-color: rgb(102, 102, 102);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: inline-block;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 20px;
	padding: 10px 10px 10px 10px;
	text-indent: 0px;
	text-shadow: none;
	width: 100%;
}
